@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;

}

p,
label {
    font-family: 'Roboto', sans-serif;    
}

input {
    
    margin: .14rem;
    
}

#checkboxes label{
  
  margin-left: 65px; 
  text-align:inherit    
  
}

#leyenda {
    margin-left: 3rem;    
}

#leyenda2 {
    margin-left: 0rem;    
}


#contenedor {
  width: 390px;
  padding: 10px;
  background: #cfe8f3;  
  border: 1.5px solid gray;
  margin: 0;
}

#contenedor2 {
    width: 390px;
    padding: 10px;
    background: #cfe8f3;  
    border: 1.5px solid gray;
    margin: 0;
  }

#contenedor3 {
    width: 400px;
    margin-left: auto;
    margin-right: auto; 
  }

#etiqueta {
    color: #5f4141;
}

#material {
    
    width: 100%;
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    
}

th, td {
    padding: 15px;
}

.fix-width {
	width: 87vw;
    height: 400px;
    margin-left: -4rem;
    margin-right: 2rem;
	overflow-y: auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table {
	width: 700px;
	margin-bottom: 0;
	max-width: none;
}

#cabecera {
    position: sticky;
    top: 0;
}

th {    
    background: #eee;
}

.leaflet-container {
    width: 58vw;
    height: 83vh;
    
  }